* {
  margin: 0;
  padding: 0;
  text-justify: inter-word;
}

html, body {
  height: 100%;
}

p, h3 {
  font-family: 'Poppins', sans-serif;
}

/* GOOGLE ICONS */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* HEADER */

header {
  position: absolute;
  top: 0px;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  z-index: 999;
}

#title {
  margin: 0px;
  color: white;
  font-size: 2em;
  font-family: 'Righteous', cursive;
}

#help {
  color: white;
  position: absolute;
  right: 10px;
  font-size: 2em;
  padding: 5px;
}

#help:hover {
  cursor: pointer;
  background-color: #9c4f2d;
  border-radius: 10px;
  padding: 5px;
}

/* BODY */

body {
  
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notifications{
  display: flex;
  flex-direction: column; 
  
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 85vw;

  font-size: 0.8em;
  background-color: rgb(33,33,33,0.75);
  border-radius: 15px;
  z-index: 11037;
  padding: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

#closeNotif {
  align-self: flex-end;
}

#closeNotif:hover {
  cursor: pointer;
  color: #ff4242;
}

.lowerDrawer{
  position: absolute;
  bottom: 20px;
  width: 75vw;
  z-index: 999;
}

#car {
  width: 100px;
  height: 60px;
  transform: scaleX(-1);
}

.mainMenu {
  width: calc(100% - 20px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
}

.inputDrawer {
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin: 5px;
  margin-bottom: 10px;
  width: calc(100% - 10px);
  height: 30px;
}

#destInput {
  width: 100%;
  height: 100%;
  border: 0px;
  border-radius: 15px;
  padding: 5px;
  background-color: #e3e3e3;
}

.iconButton {
  position: absolute;
  right: 20px;
  color: white;
  background-color: #212121;
  padding: 5px;
  border-radius: 12px;
}

#centerButton {
  margin-top: 15px;
}

.iconButton:hover{
  cursor: pointer;
  background-color: #9c4f2d;
}

.options{
  display: flex;
  column-gap: 5px;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}

.subtitle {
  visibility: visible;
  color: black;
  min-height: 20px;
  margin: 2px;
  align-self: flex-start;
}

button{
  height: 30px;
  width: 100%;
  background-color: #212121;
  border: 0px;
  color: white;
  border-radius: 10px;
  border-style: inset;
  font-family: 'Poppins', sans-serif;
}

button:hover{
  background-color: #9c4f2d;
  cursor: pointer;
}

#map {
  position: absolute;
  bottom: 0px;
  height: calc(100% - 10vh);
  width: 100%;
}

#distance {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 150px;
  height: 30px;
  margin-top: 10px;
  
  background-color: white;
  border-radius: 15px;
  z-index: 9999;
}

.notification {
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  width: 300px;
  padding: 10px;
  color: white;
  border-radius: 15px;
  z-index: 99999;
}

@media only screen and (max-width: 700px) {

  .notifications {
    width: 75vw;
    font-size: 0.5em;
  }

  .lowerDrawer {
    bottom: 40px;
    width: 90vw;
  }

  #car {
    width: 70px;
    height: 42px;
    transform: scaleX(-1);
  }

  .subtitle{
    font-size: 0.75em;
  }
  #centerButton {
    margin-top: 8px;
  }
  
}